.booktable {
  width: 300px;
  margin-top: 80px;
  margin-left: 500px;
  display: block;
  background-color: white;
  text-align: center;
  justify-content: center;
  /* position: absolute; */
}

.number {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.main {
  display: inline-block;
  position: relative;
  margin: 1px 30px;
  width: 10%;
  padding-left: 6px;
  cursor: pointer;
  font-size: 10px;
  text-align: center;
  justify-content: center;
}

input[type="checkbox"] {
  visibility: hidden;
}

.seat {
  font-size: 3px;
  
  
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 49px;
  border-radius: 10px;
  padding: 3px 3px;
  display: flex;
  flex-direction: row;
  background-color: green;
}
.check{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 49px;
  border-radius: 10px;
  padding: 3px 3px;
  display: flex;
  flex-direction: row;
  background-color:green;
}

.main input:checked ~ .checkmark {
  background-color: red;
}
.main input:checked~.check{

  background-color: blue;
}
.seatbutton {
  display:block;
  margin: 0% 45%;
  position: relative;
  padding: 5px;
  width: 60px;
}

.err {
  color: red;
  font-size: 20px;
}


.back{
  display: block;
  margin:20px 120px;
  width: 79px;
}
