.searchbtn {
  width: 4px;
  margin: 5px 0px;
  font-size: 10px;
  font-weight: bolder;
  display: inline;
  background-color:lavender;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  padding: 30;
}


.historyback{
  margin:250px 400px;
  display:inline
}